/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Popins", sans-serif;
  font-weight: 500;
  color: gray;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
}

.header {
  height: 95vh; /*Take 95% of viewport*/
  /* background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url("../img/background.jpg"); import image from img folder */
  background-image: linear-gradient(
      to right,
      rgb(198, 255, 221, 0.8),
      rgb(251, 215, 134, 0.8),
      rgb(247, 121, 125, 0.8)
    ),
    url("../img/background.jpg"); /* import image from img folder*/
  background-size: cover; /* Fit the image according to height*/
  background-position: top; /* Top position never cropped */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* Make shape of header*/
  position: relative;
}

.logo_box {
  position: absolute;
  top: 30px;
  left: 30px;
}

.logo {
  height: 30px;
}

.text_box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  color: #fff;
  text-transform: uppercase;
  /* To remove shake after animation */
  backface-visibility: hidden;
  margin-bottom: 40px;
}
.text_main {
  font-size: 40px;
  font-weight: 300;
  display: block;
  letter-spacing: 30px;
  animation-name: leftToRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
.text_sub {
  font-size: 20px;
  font-weight: 600;
  display: block;
  letter-spacing: 12.5px;
  /* animation-name: rightToLeft;
  animation-duration: 3s; */
  animation: 3s rightToLeft ease-out;
}

/* Animate left to right */
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  90% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animate Right to left */
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  90% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bottomtToTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}

.btn_white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn_animated {
  animation: 3s bottomtToTop ease-out 0.5s;
  animation-fill-mode: backwards;
}
